<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand">DXC framework</a>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user" (click)="isMenuCollapsed = true">{{'USERS' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/roles" (click)="isMenuCollapsed = true">{{'ROLES' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/permissions" (click)="isMenuCollapsed = true">{{'PERMISSIONS' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/audits" (click)="isMenuCollapsed = true">{{'AUDITS' | translate}}</a>
      </li>
      <li class="nav-item dropdown d-sm-block d-md-none">
        <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
            <p class="active text-center">Contacts</p>
            <a class="nav-link dropdown-item" routerLink="/new-contact">Add Contact</a>
            <a class="nav-link dropdown-item" routerLink="/contacts">List Contact</a>
            <p class="active text-center">Contacts</p>
            <a class="nav-link dropdown-item" routerLink="/new-contact">Add Contact</a>
            <a class="nav-link dropdown-item" routerLink="/contacts">List Contact</a>
            <p class="active text-center">Contacts</p>
            <a class="nav-link dropdown-item" routerLink="/new-contact">Add Contact</a>
            <a class="nav-link dropdown-item" routerLink="/contacts">List Contact</a>
            <p class="active text-center">Contacts</p>
            <a class="nav-link dropdown-item" routerLink="/new-contact">Add Contact</a>
            <a class="nav-link dropdown-item" routerLink="/contacts">List Contact</a>
            <p class="active text-center">Contacts</p>
            <a class="nav-link dropdown-item" routerLink="/new-contact">Add Contact</a>
            <a class="nav-link dropdown-item" routerLink="/contacts">List Contact</a>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" >
      <li>
        <a class="nav-link" (click)="onLogout()" (click)="isMenuCollapsed = true"><i class="fa fa-sign-out"></i> {{'LOGOUT' | translate}}</a>
      </li>
    </ul>
  </div>
</nav>
