<div class="container-fluid mb-5">
    <p></p>
    <h2>{{'AUDIT' | translate}}</h2>
  </div>
  
  <div>
    <table class="table table-striped">
      <tr>
        <th>{{'ID' | translate}}</th><th>{{'USER' | translate}}</th><th>{{'OPERATION' | translate}}</th><th>{{'DATE' | translate}}</th><th>{{'CHANGES' | translate}}</th>
      </tr>
      <tr *ngFor="let audit of audits">
        <td>{{audit.id}}</td>
        <td>{{audit.user}}</td>
        <td>{{audit.operation}}</td>
        <td>{{audit.date}}</td>
        <td>{{audit.changes}}</td>
      </tr>
    </table>
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href=""(click)="setPrevious($event)">Previous</a></li>
      <li class="page-item" *ngFor="let p of pages; let i=index">
        <a class="page-link" href="" (click)="setPage(i,$event)">{{i}}</a>
      </li>
      <li class="page-item"><a class="page-link" href=""(click)="setNext($event)">Next</a></li>
      <select (change)="selectSize($event)" class="custom-select" style="width: 5%; margin-left: 1%;" >
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
    </select>
    </ul>
  </div>
  