<div class="container pt-5">
    <div class="row border container">
      <div class="col-sx-3" class="img-rounded">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/DXC_Tech.png">
      </div>
      <div class="col pt-4">
        <div class="page-header mb-3">
          <h1>Welcom to DXC Framework</h1>
        </div>
        <div>
          <h4 class="text-muted mb-5">This is your home page</h4>
        </div>
        <div class="container mark mb-3">
          <p>If you want to <a routerLink="/login">authetificate</a>, you can try the default accounts: </p>
          <ul>
            <li>Administrator login : "admin" and password : "1234".</li>
            <li>Normal user login : "user" and password : "1234".</li>
          </ul>     
        </div>
        <div>
          <p>If you have any question on DXC FRAMEWORK :</p>
          <ul>
            <li><a href="#">DXC homepage</a></li>
            <li><a href="#">DXC on stack overflow</a></li>
            <li><a href="#">Contact DXC on twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>