<div class="container pt-5">
    <div class="row border pt-3 pb-3 container">
      <div class="col-sx-3" class="img-rounded">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/DXC_Tech.png">
      </div>
      <div class="col pt-4">
        <div class="page-header mb-3">
          <h1>{{'WELCOME' | translate}} DXC Framework</h1>
        </div>
        <div>
          <h4 class="text-muted mb-5">{{'HOMEPAGE' | translate}}</h4>
        </div>
        <div class="container mark mb-3">
          <p>{{'IFYOUWANTTO' | translate}} <a routerLink="/login">{{'AUTHENTICATE' | translate}}</a> , {{'YOUCANTRY' | translate}} : </p>
          <ul>
            <li>{{'ADMINLOGIN' | translate}} : "admin" {{'AND' | translate}} {{'PASSWORD' | translate}} : "1234".</li>
            <li>{{'USERLOGIN' | translate}} : "user" {{'AND' | translate}} {{'PASSWORD' | translate}} : "1234".</li>
          </ul>     
        </div>
        <div>
          <p>{{'IFYOUHAVEANYQUESTION' | translate}} :</p>
          <ul>
            <li><a href="http://dxc-technlogy-maroc.com/">{{'DXCHOMEPAGE' | translate}}</a></li>
            <li><a href="https://www.linkedin.com/in/dxcmaroc/">{{'DXCLINKEDIN' | translate}}</a></li>
            <li><a href="https://twitter.com/DXCMaroc">{{'DXCONTWITTER' | translate}}</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>