<!-- Bootstrap row -->
<div id="body-row" class="container pt-5">
      <!-- Sidebar -->
      <div id="sidebar-container" class="sidebar-expanded d-none d-md-block menu-droped">
          <!-- Bootstrap List Group -->
          <ul class="list-group">
              <!-- /END Separator -->
              <!-- Menu with submenu -->
              <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                    <i class="fa fa-tachometer fa-eercast mr-3" aria-hidden="true"></i>
                      <span class="menu-collapsed">Contact</span>
                      <!-- <span id="drop" class="dropdown-toggle ml-auto"></span> -->
                  </div>
              </a>
              <!-- Submenu content -->
              <div id='submenu1' class="collapse sidebar-submenu ">
                  <a routerLink="/new-contact" class="nav-link list-group-item list-group-item-action bg-dark text-white">
                      <span class="menu-collapsed">Add Contact</span>
                  </a>
                  <a routerLink="/contacts" class="nav-link list-group-item list-group-item-action bg-dark text-white">
                      <span class="menu-collapsed">List Contact</span>
                  </a>
              </div>  
          </ul><!-- HereICanAddNewClasss -->
      </div><!-- sidebar-container END -->
  <!-- body-row END -->
</div>
  
