/* .table-success, .table-success>td, .table-success>th {
    background-color: #83f59e !important;
    text-align: center;
}
.table-primary, .table-primary>td, .table-primary>th {
    background-color: #88bdf5 !important;
    text-align: center;
}
.table-danger, .table-danger>td, .table-danger>th {
    background-color: #f37784 !important;
    text-align: center;
} */