<div class="container-fluid mb-5">
  <p></p>
  <h2>{{'LISTOFROLES' | translate}}</h2>
</div>


  <div class="col-md-3 mb-3">
    <select (change)="selectProperty($event)" class="custom-select" >
      <option *ngFor="let property of properties" value={{property}}>{{property}}</option>
    </select>
  </div>
  <form class="container" #searchOnInputForm="ngForm" (ngSubmit)="OnSubmitOneInput()" novalidate>
    <div class="input-group ">
      <input class="form-control my-0 py-1 amber-border" #motCle="ngModel" 
            type="text" placeholder="Search" name="keyword" [(ngModel)]="keyword">
      <button class="btn btn-success" type="submit">{{'SEARCH' | translate}}</button>
    </div>
  </form>

<div>
  <div *ngIf="allRoles">
    <app-all-roles></app-all-roles>
  </div>

  <div *ngIf="allRoles === false">
    <app-search-role [keyword]='keyword'
                    [property]='property'
                    [refrechChildSubject]="refrechChildSubject.asObservable()"
                        ></app-search-role>
      <button class="btn btn-primary">{{'NEWRole' | translate}}</button>
  </div>
</div>
